<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>answers</key>
	<array>
		<array>
			<string>Milky Way</string>
		</array>
		<array>
			<string>ดาวพฤหัส</string>
		</array>
		<array>
			<string>ดาวพุธ</string>
		</array>
		<array>
			<string>ดาวพฤหัส</string>
		</array>
		<array>
			<string>สุนัข</string>
		</array>
		<array>
			<string>สหภาพโซเวียต</string>
		</array>
		<array>
			<string>ดาวพลูโต</string>
		</array>
		<array>
			<string>มีดวงอาทิตย์เป็นศูนย์กลาง</string>
		</array>
		<array>
			<string>ดาวพุธ</string>
		</array>
		<array>
			<string>ดาวเนปจูน</string>
		</array>
		<array>
			<string>ดาวที่ไม่มีแสงสว่างในตัวเอง</string>
		</array>
		<array>
			<string>ดาวศุกร์</string>
		</array>
		<array>
			<string>ดาวพุธ</string>
		</array>
		<array>
			<string>ดาวยูเรนัส</string>
		</array>
		<array>
			<string>ดาวพฤหัส</string>
		</array>
		<array>
			<string>60ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>เตาไฟแช่แข็ง</string>
		</array>
		<array>
			<string>88วัน</string>
		</array>
		<array>
			<string>ดาวศุกร์</string>
		</array>
		<array>
			<string>110ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดาวศุกร์</string>
		</array>
		<array>
			<string>477องศาเซียลเซียส</string>
		</array>
		<array>
			<string>5000ล้านปี</string>
		</array>
		<array>
			<string>12750กิโลเมตร</string>
		</array>
		<array>
			<string>150ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>365วัน</string>
		</array>
		<array>
			<string>225ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดาวแดง</string>
		</array>
		<array>
			<string>2ดวง</string>
		</array>
		<array>
			<string>778ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดาวพฤหัส</string>
		</array>
		<array>
			<string>12ปี</string>
		</array>
		<array>
			<string>39ดวง</string>
		</array>
		<array>
			<string>1425ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดาวเสาร์</string>
		</array>
		<array>
			<string>30ดวง</string>
		</array>
		<array>
			<string>10.7ชั่วโมง</string>
		</array>
		<array>
			<string>2900ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>เซอร์วิลเลี่ยม เฮอริเซล</string>
		</array>
		<array>
			<string>17.24ชั่วโมง</string>
		</array>
		<array>
			<string>84ปี</string>
		</array>
		<array>
			<string>21ดวง</string>
		</array>
		<array>
			<string>4500ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>16ชั่วโมง</string>
		</array>
		<array>
			<string>165ปี</string>
		</array>
		<array>
			<string>8ดวง</string>
		</array>
		<array>
			<string>4แบบ</string>
		</array>
		<array>
			<string>7ดวง</string>
		</array>
		<array>
			<string>กลุ่มดาวจระเข้</string>
		</array>
		<array>
			<string>7ดวง</string>
		</array>
		<array>
			<string>8.75นาที</string>
		</array>
		<array>
			<string>1.392ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>384400กิโลเมตร</string>
		</array>
		<array>
			<string>3476กิโลเมตร</string>
		</array>
		<array>
			<string>29วัน</string>
		</array>
		<array>
			<string>Apollo11</string>
		</array>
		<array>
			<string>76ปี</string>
		</array>
		<array>
			<string>ดาวตก</string>
		</array>
		<array>
			<string>อุกกาบาต</string>
		</array>
		<array>
			<string>ซีรีส</string>
		</array>
		<array>
			<string>ดาวอังคารกับดาวพฤหัส</string>
		</array>
		<array>
			<string>1270ปีแสง</string>
		</array>
		<array>
			<string>เนบิวลามืด</string>
		</array>
		<array>
			<string>10-20กิโลเมตร</string>
		</array>
		<array>
			<string>ดาวเอ็นเอ็มแอล ไซจไน</string>
		</array>
		<array>
			<string>3.8เซนติเมตร</string>
		</array>
	</array>
</dict>
</plist>
