<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionArray</key>
	<array>
		<array>
			<string>โลกอยู่ในกาแลคซี่อะไร</string>
			<string>Milky Way</string>
			<string>Andromeda</string>
			<string>Whirlpool</string>
			<string>Sombrero</string>
		</array>
		<array>
			<string>ดาวเคราะห์ที่ใหญ่ที่สุดในระบบสุริยะ</string>
			<string>ดาวเสาร์</string>
			<string>ดาวพฤหัส</string>
			<string>โลก</string>
			<string>ดาวพุธ</string>
		</array>
		<array>
			<string>ดาวที่เล็กที่สุดในระบบสุริยะ</string>
			<string>ดาวพุธ</string>
			<string>ดาวศุกร์</string>
			<string>ดาวพฤหัสบดี</string>
			<string>โลก</string>
		</array>
		<array>
			<string>ดวงจันทร์แกนีมีดเป็นบริวารของดาวอะไร</string>
			<string>ดาวศุกร์</string>
			<string>โลก</string>
			<string>ดาวพฤหัส</string>
			<string>ดาวอังคาร</string>
		</array>
		<array>
			<string>สัตว์ชนิดแรกที่ขึ้นไปบนอวกาศคือสัตวืชนิดใด</string>
			<string>สุนัข</string>
			<string>แมลงสาบ</string>
			<string>หนู</string>
			<string>แมว</string>
		</array>
		<array>
			<string>ชาติแรกที่ส่งดาวเทียมขึ้นสู่วงโคจรของโลกคือชาติใด</string>
			<string>สหภาพโซเวียต</string>
			<string>สหรัฐอเมริกา</string>
			<string>สาธารณรัฐประชาชนจีน</string>
			<string>ญี่ปุ่น</string>
		</array>
		<array>
			<string>ดาวดวงไหนที่ถูกตัดออกจากระบบสุริยะ</string>
			<string>ดาวพลูโต</string>
			<string>ดาวอังคาร</string>
			<string>ดาวเนปจูน</string>
			<string>ดาวพฤหัส</string>
		</array>
		<array>
			<string>ระบบสุริยะหมายถึง</string>
			<string>มีดวงอาทิตย์เป็นศูนย์กลาง</string>
			<string>มีดาวพฤหัสเป็นศูนย์กลาง</string>
			<string>มีโลกเป็นศูนย์กลาง</string>
			<string>มีดาวเสาร์เป็นศูนย์กลาง</string>
		</array>
		<array>
			<string>ดาวดวงไหนใกล้ดวงอาทิตย์มากที่สุด</string>
			<string>ดาวอังคาร</string>
			<string>ดาวพุธ</string>
			<string>ดาวเสาร์</string>
			<string>ดาวยูเรนัส</string>
		</array>
		<array>
			<string>ดาวดวงไหนไกลดวงอาทิตย์มากที่สุด</string>
			<string>ดาวยูเรนัส</string>
			<string>ดาวศุกร์</string>
			<string>ดาวเสาร์</string>
			<string>ดาวเนปจูน</string>
		</array>
		<array>
			<string>ดาวเคราะห์คือ</string>
			<string>ดาวที่ไม่มีแสงสว่างในตัวเอง</string>
			<string>ดาวที่มีแสงสว่างในตัวเอง</string>
			<string>ดาวที่มีขนาดเล็ก</string>
			<string>ดาวที่มีแรงดึงดูดน้อย</string>
		</array>
		<array>
			<string>ดาวดวงไหนเป็นดาวเคราะห์ชั้นใน</string>
			<string>ดาวเนปจูน</string>
			<string>ดาวพฤัส</string>
			<string>ดาวศุกร์</string>
			<string>ดาวเสาร์</string>
		</array>
		<array>
			<string>ข้อใดไม่ใช่ดาวเคราะห์ชั้นนอก</string>
			<string>ดาวยูเรนัส</string>
			<string>ดาวพฤหัส</string>
			<string>ดาวเนปจูน</string>
			<string>ดาวพุธ</string>
		</array>
		<array>
			<string>ดาวในระบบสุริยะหมุนทวนเข็มนาฬิกายกเว้น</string>
			<string>ดาวยูเรนัส</string>
			<string>ดาวเสาร์</string>
			<string>ดาวโลก</string>
			<string>ดาวอังคาร</string>
		</array>
		<array>
			<string>ดาวดวงไหนสามารถมองเห็นได้ด้วยตาเปล่า</string>
			<string>ดาวเนปจูน</string>
			<string>ดาวพฤหัส</string>
			<string>ดาวพลูโต</string>
			<string>ดาวยูเรนัส</string>
		</array>
		<array>
			<string>ดาวพุธอยู่ห่างจากดวงอาทิตย์กี่กิโลเมตร</string>
			<string>40ล้านกิโลเมตร</string>
			<string>50ล้านกิโลเมตร</string>
			<string>60ล้านกิโลเมตร</string>
			<string>70ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดาวพุธมีชื่อเรียกอีกอย่างว่าอะไร</string>
			<string>เตาน้ำเดือด</string>
			<string>เตาไฟแช่เย็น</string>
			<string>เตาไฟเย็น</string>
			<string>เตาไฟแช่แข็ง</string>
		</array>
		<array>
			<string>ดาวพุธหมุนรอบดวงอาทิตย์กี่วัน</string>
			<string>88วัน</string>
			<string>77วัน</string>
			<string>99วัน</string>
			<string>66วัน</string>
		</array>
		<array>
			<string>ดาวดวงไหนที่ได้ชื่อว่าเป็นฝาแฝดของโลก</string>
			<string>ดาวอังคาร</string>
			<string>ดาวศุกร์</string>
			<string>ดาวยูเรนัส</string>
			<string>ดาวพฤหัส</string>
		</array>
		<array>
			<string>ดาวศุกร์อยู่ห่างจากโลกกี่กิโลเมตร</string>
			<string>150ล้านกิโลเมตร</string>
			<string>130ล้านกิโลเมตร</string>
			<string>110ล้านกิโลเมตร</string>
			<string>90ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดาวประจำเมืองคือดาวอะไร</string>
			<string>ดาวเสาร์</string>
			<string>ดาวอังคาร</string>
			<string>ดาวพฤหัส</string>
			<string>ดาวศุกร์</string>
		</array>
		<array>
			<string>พื้นผิวดาวศุกร์มีอุณหภูมิสูงกี่องศา</string>
			<string>477องศาเซียลเซียส</string>
			<string>400องศาเซียลเซียส</string>
			<string>370องศาเซียลเซียส</string>
			<string>350องศาเซียลเซียส</string>
		</array>
		<array>
			<string>โลกเกิดมาแล้วประมาณกี่ล้านปี</string>
			<string>6000ล้านปี</string>
			<string>5000ล้านปี</string>
			<string>4500ล้านปี</string>
			<string>5500ล้านปี</string>
		</array>
		<array>
			<string>โลกมีเส้นผ่านศูนย์กลางกี่กิโลเมตร</string>
			<string>10000กิโลเมตร</string>
			<string>11750กิโลเมตร</string>
			<string>12750กิโลเมตร</string>
			<string>13250กิโลเมตร</string>
		</array>
		<array>
			<string>โลกอยู่ห่างจากดวงอาทิตย์กี่กิโลเมตร</string>
			<string>100ล้านกิโลเมตร</string>
			<string>120ล้านกิโลเมตร</string>
			<string>130ล้านกิโลเมตร</string>
			<string>150ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>โลกหมุนรอบดวงอาทิตย์ใช้เวลากี่วัน</string>
			<string>365วัน</string>
			<string>360วัน</string>
			<string>370วัน</string>
			<string>363วัน</string>
		</array>
		<array>
			<string>ดาวอังคารห่างจากดวงอาทิตย์กี่กิโลเมตร</string>
			<string>200ล้านกิโลเมตร</string>
			<string>225ล้านกิโลเมตร</string>
			<string>240ล้านกิโลเมตร</string>
			<string>250ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดาวอังคารได้ชื่อฉายาว่าอะไร</string>
			<string>ดาวสนิม</string>
			<string>ดาวลูกไฟ</string>
			<string>ดาวแดง</string>
			<string>ดาวเหล็กแดง</string>
		</array>
		<array>
			<string>ดาวอังคารมีบริวารกี่ดวง</string>
			<string>5ดวง</string>
			<string>4ดวง</string>
			<string>3ดวง</string>
			<string>2ดวง</string>
		</array>
		<array>
			<string>ดาวพฤหัสห่างจากดวงอาทิตย์กี่กิโลเมตร</string>
			<string>778ล้านกิโลเมตร</string>
			<string>750ล้านกิโลเมตร</string>
			<string>732ล้านกิโลเมตร</string>
			<string>718ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดาวดวงไหนหมุนรอบตัวเองไวที่สุดระบบสุริยะ</string>
			<string>ดาวเสาร์</string>
			<string>ดาวพฤหัส</string>
			<string>ดาวอังคาร</string>
			<string>ดาวโลก</string>
		</array>
		<array>
			<string>ดาวพฤหัสใช้เวลาหมุนรอบดวงอาทิตย์กี่ปี</string>
			<string>10ปี</string>
			<string>11ปี</string>
			<string>12ปี</string>
			<string>13ปี</string>
		</array>
		<array>
			<string>ดาวพฤหัสมีดวงจันทร์เป็นบริวารทั้งหมดกี่ดวง</string>
			<string>36ดวง</string>
			<string>37ดวง</string>
			<string>38ดวง</string>
			<string>39ดวง</string>
		</array>
		<array>
			<string>ดาวเสาร์อยู่ห่างจากดวงอาทิตย์กี่กิโลเมตร</string>
			<string>1425ล้านกิโลเมตร</string>
			<string>1390ล้านกิโลเมตร</string>
			<string>1300ล้านกิโลเมตร</string>
			<string>1270ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดาวดวงไหนในระบบสุริยะมีวงแหวนใหญ่ทีสุด</string>
			<string>ดาวยูเรนัส</string>
			<string>ดาวเสาร์</string>
			<string>ดาวพฤหัส</string>
			<string>ดาวเนปจูน</string>
		</array>
		<array>
			<string>ดาวเสาร์มีดวงจันทร์เป็นบริวารกี่ดวง</string>
			<string>35ดวง</string>
			<string>32ดวง</string>
			<string>30ดวง</string>
			<string>29ดวง</string>
		</array>
		<array>
			<string>ดาวเสาร์หมุนรอบตัวเองใช้เวลากี่ชั่วโมง</string>
			<string>12.2ชั่วโมง</string>
			<string>11.5ชั่วโมง</string>
			<string>13ชั่วโมง</string>
			<string>10.7ชั่วโมง</string>
		</array>
		<array>
			<string>ดาวยูเรนัสอยู่ห่างจากดวงอาทิตย์กี่กิโลเมตร</string>
			<string>2900ล้านกิโลเมตร</string>
			<string>3100ล้านกิโลเมตร</string>
			<string>2500ล้านกิโลเมตร</string>
			<string>3300ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดาวยูเรนัสถูกค้นพบโดยใคร</string>
			<string>อัลเบิร์ด ไอน์สไตน์</string>
			<string>เซอร์วิลเลี่ยม เฮอริเซล</string>
			<string>นิโคลัส โคเปอร์นิคัส</string>
			<string>กาลิเลโอ กาลิเลอี</string>
		</array>
		<array>
			<string>ดาวยูเรนัสหมุนรอบตัวเองใช้เวลากี่ชั่วโมง</string>
			<string>15ชั่วโมง</string>
			<string>16.2ชั่วโมง</string>
			<string>17.24ชั่วโมง</string>
			<string>18.1ชั่วโมง</string>
		</array>
		<array>
			<string>ดาวยูเรนัสหมุนรอบดวงอาทิตย์ใช้เวลากี่ปี</string>
			<string>81ปี</string>
			<string>82ปี</string>
			<string>83ปี</string>
			<string>84ปี</string>
		</array>
		<array>
			<string>ดาวยูเรนัสมีดวงจันทร์เป็นบริวารกี่ดวง</string>
			<string>21ดวง</string>
			<string>22ดวง</string>
			<string>20ดวง</string>
			<string>19ดวง</string>
		</array>
		<array>
			<string>ดาวเนปจูนอยู่ห่างจากดวงอาทิตย์กี่กิโลเมตร</string>
			<string>4000ล้านกิโลเมตร</string>
			<string>4500ล้านกิโลเมตร</string>
			<string>4750ล้านกิโลเมตร</string>
			<string>4900ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดาวเนปจูนหมุนรอบตัวเองใช้เวลากี่ชั่วโมง</string>
			<string>14ชั่วโมง</string>
			<string>15ชั่วโมง</string>
			<string>16ชั่วโมง</string>
			<string>17ชั่วโมง</string>
		</array>
		<array>
			<string>ดาวเนปจูนหมุนรอบดวงอาทิตย์ใช้เวลากี่ปี</string>
			<string>150ปี</string>
			<string>155ปี</string>
			<string>160ปี</string>
			<string>165ปี</string>
		</array>
		<array>
			<string>ดาวเนปจูนมีดวงจันทร์เป็นบริวารทั้งหมดกี่ดวง</string>
			<string>8ดวง</string>
			<string>10ดวง</string>
			<string>12ดวง</string>
			<string>14ดวง</string>
		</array>
		<array>
			<string>กาแลคซี่มีทั้งหมดกี่แบบ</string>
			<string>1แบบ</string>
			<string>2แบบ</string>
			<string>3แบบ</string>
			<string>4แบบ</string>
		</array>
		<array>
			<string>กลุ่มดาวจระเข้มีดาวทั้งหมดกี่ดวง</string>
			<string>5ดวง</string>
			<string>6ดวง</string>
			<string>7ดวง</string>
			<string>8ดวง</string>
		</array>
		<array>
			<string>ดาวเหนืออยู่ในกลุ่มดาวอะไร</string>
			<string>กลุ่มดาวนายพราน</string>
			<string>กลุ่มดาวลูกไ้ก่</string>
			<string>กลุ่มดาวหมีใหญ่</string>
			<string>กลุ่มดาวจระเข้</string>
		</array>
		<array>
			<string>กลุ่มดาวลูกไก่มีดาวรวมกันกี่ดวง</string>
			<string>7ดวง</string>
			<string>6ดวง</string>
			<string>5ดวง</string>
			<string>4ดวง</string>
		</array>
		<array>
			<string>แสงจากดวงอาทิตย์เดินทางมายังโลกใช้เวลากี่นาที</string>
			<string>7.75นาที</string>
			<string>8.75นาที</string>
			<string>9.75นาที</string>
			<string>10.75นาที</string>
		</array>
		<array>
			<string>ดวงอาทิตย์มีเส้นผ่านศูนย์กลางประมาณกี่กิโลเมตร</string>
			<string>1.1ล้านกิโลเมตร</string>
			<string>1.26ล้านกิโลเมตร</string>
			<string>1.392ล้านกิโลเมตร</string>
			<string>1.4123ล้านกิโลเมตร</string>
		</array>
		<array>
			<string>ดวงจันทร์อยู่ห่างจากโลกกี่กิโลเมตร</string>
			<string>300000กิโลเมตร</string>
			<string>351200กิโลมตร</string>
			<string>375620กิโลมตร</string>
			<string>384400กิโลเมตร</string>
		</array>
		<array>
			<string>ดวงจันทร์มีเส้นผ่านศูนย์กลางประมาณกี่กิโลเมตร</string>
			<string>3116กิโลเมตร</string>
			<string>3246กิโลเมตร</string>
			<string>3326กิโลเมตร</string>
			<string>3476กิโลเมตร</string>
		</array>
		<array>
			<string>ดวงจันทร์หมุนรอบตัวเองใช้เวลาประมาณกี่วัน</string>
			<string>29วัน</string>
			<string>30วัน</string>
			<string>31วัน</string>
			<string>32วัน</string>
		</array>
		<array>
			<string>ในปีค.ศ.1969 NASA ส่งยานอะไรที่มีมนุษย์ไปเหยียบดวงจันทร์สำเร็จ</string>
			<string>Apollo10</string>
			<string>Apollo11</string>
			<string>Apollo12</string>
			<string>Apollo13</string>
		</array>
		<array>
			<string>ดาวหางฮัลเลย์มีคาบโคจรรอบดวงอาทิตย์กี่ปี</string>
			<string>74ปี</string>
			<string>75ปี</string>
			<string>76ปี</string>
			<string>77ปี</string>
		</array>
		<array>
			<string>วัตถุหรือฝุ่นอวกาศที่ตกเข้าสู่โลกและถูกเผาไหม้จนหมดเรียกว่าอะไร</string>
			<string>ดาวหล่น</string>
			<string>ดาวเคราะห์</string>
			<string>ดาวประกายแสง</string>
			<string>ดาวตก</string>
		</array>
		<array>
			<string>วัตถุหรือฝุ่นอวกาศที่ตกเข้าสู่โลกและถูกเผาไหม้ไม่หมดตกลงสู่โลกเรียกว่าอะไร</string>
			<string>อุกกาบาต</string>
			<string>ดาวเคราะห์</string>
			<string>ดาวตก</string>
			<string>ผีพุ่งใต้</string>
		</array>
		<array>
			<string>ดาวเคราะห์น้อยที่ดวงใหญ่ที่สุดที่รู้จักในปัจจุบันชื่อว่าอะไร</string>
			<string>แกสปรา</string>
			<string>เวสตา</string>
			<string>ซีรีส</string>
			<string>ไอดา</string>
		</array>
		<array>
			<string>แถบดาวเคราะห์น้อยอยู่ระหว่างดาวอะไร</string>
			<string>ดาวพฤหัสกับดาวเสาร์</string>
			<string>ดาวเสาร์กับดาวยูเรนัส</string>
			<string>ดาวโลกกับดาวอังคาร</string>
			<string>ดาวอังคารกับดาวพฤหัส</string>
		</array>
		<array>
			<string>เนบิวลานายพรานอยู่ห่างจากโลกกี่ปีแสง</string>
			<string>1270ปีแสง</string>
			<string>1280ปีแสง</string>
			<string>1290ปีแสง</string>
			<string>1300ปีแสง</string>
		</array>
		<array>
			<string>เนบิวลาหัวม้าเป็นเนบิวลาประเภทใด</string>
			<string>เนบิวลาเปล่งแสง</string>
			<string>เนบิวลามืด</string>
			<string>เนบิวสะท้อนแสง</string>
			<string>เนบิวลาดาวเคราะห์</string>
		</array>
		<array>
			<string>ดาวนิวตรอนมีเส้นผ่านศูนย์กลางประมาณกี่กิโลเมตร</string>
			<string>30-40กิโลเมตร</string>
			<string>20-30กิโลเมตร</string>
			<string>10-20กิโลเมตร</string>
			<string>1-10กิโลเมตร</string>
		</array>
		<array>
			<string>ดาวฤกษ์ที่มีขนาดใหญ่ที่สุดที่รู้จักในปัจจุบันชื่ออะไร</string>
			<string>ดาวเอ็นเอ็มแอล ไซจไน</string>
			<string>ดาววี 838 ยูนิคอร์น</string>
			<string>ดาวเควาย หงส์</string>
			<string>ดาววีวาย สุนัขใหญ่</string>
		</array>
		<array>
			<string>ดวงจันทร์เคลื่อนที่ออกห่างจากโลกปีละกี่เซนติเมตร</string>
			<string>3.1เซนติเมตร</string>
			<string>3.8เซนติเมตร</string>
			<string>4.5เซนติเมตร</string>
			<string>5.0เศนติเมตร</string>
		</array>
	</array>
</dict>
</plist>
